<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/embaixadoras.css" />
    <title>Embaixadoras</title>
  </head>
  <body>
    <header class="header-embaixadoras">
      <h1>Nossas Embaixadoras</h1>
      <p>
        Para fazer tudo acontecer contamos com um time de profissionais
        incríveis que dedicam seu tempo para transformar essa realidade. Somos
        um time de mulheres apaixonadas por tecnologia e por transformar vidas
        de outras mulheres através dela.
      </p>
    </header>
    <section class="embaixadoras">
      <div class="meet-we">
        <img src="assets/bi_code-slash.png" alt="" />
        <h3>Conheça nosso time!</h3>
      </div>
      <div class="container-embaixadoras">
        <div class="card">
          <div class="card-info">
            <img src="assets/teste1.jpeg" class="card-avatar" />
            <div class="card-title">Shiellyn Ferreira</div>
            <div class="card-subtitle">Co-facilitadora &amp; Embaixadora</div>
          </div>
          <ul class="card-social">
            <li class="card-social__item">
              <a href="https://www.linkedin.com/in/shiellyn-ferreira/" target="_blank"><img src="assets/linkedin.png" alt=""></a> 
            </li>
            <li class="card-social__item">
             <img src="assets/twitter.png" alt="">
              </svg>
            </li>
            <li class="card-social__item">
              <a href="https://github.com/ShiellynFerr" target="_blank"><img src="assets/github (1).png" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="card-info">
            <img src="assets/lhais (1).jpeg" class="card-avatar" />
            <div class="card-title">Lhais Costa</div>
            <div class="card-subtitle">Colaboradora &amp; Embaixadora</div>
          </div>
          <ul class="card-social">
            <li class="card-social__item">
              <a href="https://www.linkedin.com/in/lhaiscosta-dev/" target="_blank"><img src="assets/linkedin.png" alt="icone linkedin"></a>
            </li>
            <li class="card-social__item">
              <img href="" src="assets/twitter.png" alt="">
            </li>
            <li class="card-social__item">
              <a href="https://github.com/LhaisCosta99" target="_blank"><img src="assets/github (1).png" alt=""></a> 
            </li>
          </ul>
        </div>
        <div class="card">
            <div class="card-info">
              <img src="assets/ana.jpeg" class="card-avatar" />
              <div class="card-title">Ana Ferreira</div>
              <div class="card-subtitle">Gestora do Conhecimento &amp; Embaixadora</div>
            </div>
            <ul class="card-social">
              <li class="card-social__item">
                <a href="https://www.linkedin.com/in/anacrln/" target="_blank"> <img src="assets/linkedin.png" alt=""></a>
              </li>
              <li class="card-social__item">
                <img href="" src="assets/twitter.png" alt="">
              </li>
              <li class="card-social__item">
                <a href="https://github.com/anacrln" target="_blank"><img src="assets/github (1).png" alt=""></a> 
              </li>
            </ul>
          </div>
          <div class="card">
            <div class="card-info">
              <img src="assets/viniele.jpeg" class="card-avatar" />
              <div class="card-title">Viniele Lopes</div>
              <div class="card-subtitle">Gestora de Engajamento &amp; Embaixadora</div>
            </div>
            <ul class="card-social">
              <li class="card-social__item">
                <a href="https://www.linkedin.com/in/viniele-lopes-4a06529b/" target="_blank"><img src="assets/linkedin.png" alt=""></a> 
              </li>
              <li class="card-social__item">
                <img href="" src="assets/twitter.png" alt="">
              </li>
              <li class="card-social__item">
                <a href="https://github.com/vinielelopes" target="_blank" ><img src="assets/github (1).png" alt=""></a> 
              </li>
            </ul>
          </div>
      </div>
      
      

    </section>
  </body>
</html>
