<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/hireBeta.css" />
    <title>Hire a beta</title>
  </head>
  <body>
    <header class="header">
        <div class="container-fluid">
            <a class="header-brand" href="#">
               Beta Programmers
            </a>
        </div>
        <div class="button-container">
          <button type="button" class="btn btn-primary">
            <a href="https://lhaiscosta99.github.io/ProjetoFinalModulo2/src/views/pages/cadastro.html">Cadastre-se</a>
          </button>
          <button type="button" class="btn btn-primary">
            <a href="https://lhaiscosta99.github.io/ProjetoFinalModulo2/src/views/pages/login.html">Login</a>
          </button>
        </div>
      </header> 
      <nav class="navbar navbar-expand-sm p-0">
        <div class="container-fluid nav-bg justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Embaixadoras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Planos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Hire a Beta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-hire">
       
      <div class="container-1">
        <h2>Uma ponte entre devs e empresas</h2>
        <p>Hire a beta é um evento de contratação para conectar as membras da comunidade a QUEM ACREDITA
            NELAS E EM NÓS , ou seja as empresas apoiadoras e contratantes.</p>
      </div>

      <div class="container-2">
        <div class="row">
          <div class="col-6 col-sm-3 number-hire">50</div>
          <div class="col-6 col-sm-3 number-hire">250</div>
          <div class="col-6 col-sm-3 number-hire">100</div>
      
          <!-- Force next columns to break to new line -->
          <div class="w-100"></div>
      
          <p class="col-6 col-sm-3">Empresas participantes</p>
          <p class="col-6 col-sm-3">Candidatas entrevistadas</p>
          <p class="col-6 col-sm-3">Betas contratadas</p>
        </div>
        <div class="event-p">
            <p>*Dados do ultimo evento hire a beta*</p>
        </div>
      </div>
    </section>

    <section class="container-hire-2">
      <div class="hire-2-text">
          
       <p>A tecnologia que <span class="p-black">construímos</span>  hoje determina o mundo  <span class="p-lilac">em que vivemos amanhã</span>. 
        Mas se esse mundo está sendo construído sob a liderança de apenas uma pequena
         parte da nossa comunidade, <span class="p-black">que tipo de mundo teremos</span>? </p>   
       <p>Estamos aqui para <span class="p-lilac">incluir mais mulheres</span>  
        no mercado de TI aumentando a <span class="p-black">representatividade </span> feminina nas organizações e atingindo,
         consequentemente, <span class="p-lilac">equidade de gênero</span>  dentro das empresas.</p>
      </div>
    </section>

    <section class="container-hire-3">
        <div class="why-woman">
            <div class="container-why-woman">
                
                <h2>Mas porque mais mulheres na tecnologia?</h2>
                <p>De acordo com uma pesquisa da Organização Mundial do Trabalho de 2017 mostrou que, se aumentássemos em um quarto a participação de mulheres no mercado de trabalho, em oito anos (2018-2025) o Brasil poderia expandir sua economia em até 382 bilhões de reais.</p>
                <p>Há tantas razões pelas quais ter mulheres na tecnologia é benéfico e vital: teremos um futuro tecnológico melhor, combate o sexismo dentro do setor, fornece modelos para meninas e mulheres e garante rentabilidade a longo prazo para empresas e organizações.</p>
                <p>Mas para nós, a razão mais importante para aumentar o número de mulheres construindo tecnologia é para que o mundo em que vivemos possa ser igualmente apreciado por todos. Precisamos de diversidade de experiências, perspectivas e histórias para construir um mundo mais empático, inovador e igualitário.
                </p>
            </div>
            <div class="cards-hire-3">
                <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body card-hire">
                        <p class="card-text">Desenvolvedoras são apenas 17% do total nos cursos de tecnologia em faculdades.</p>
                    </div>
                  </div>
                  <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body card-hire">
                        <p class="card-text">Segundo o (IBGE), apenas 20% das pessoas que atuam na área são mulheres.</p>
                    </div>
                  </div>
                  <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body card-hire">
                      <p class="card-text">Apesar de terem um grau de instrução mais elevado que os homens do setor no Brasil, as mulheres ganham 34% a menos que eles.</p>
                     
                    </div>
                  </div>
                  <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body card-hire">
                      <p class="card-text">O aumento da participação das mulheres no setor de STEM auxiliará na recuperação econômica no cenário pós covid.</p>
                    </div>
                  </div>
                  
            </div>
        </div>
    </section>

    <section class="be-part">
        <div class="be-part-center">
            <div class="btn-be-part">
                <img src="assets/Vector.png" alt="">
                <button class="learn-more">Faça parte</button>
        </div>

        <div class="phrase">
            <h3>WE EMPOWER AND ENABLE WOMEN AND GIRLS TO BE EQUAL CREATORS IN BUILDING THE FUTURE!</h3>
        </div>
        </div>
        
    </section>

  </body>
</html>


