<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/css/sobre.css">
    <title>SOBRE</title>
</head>
<body>
    <h1 class="titlePage"> Quem somos</h1>
    <div class="mission">
         <div class="missionKid">
             <img class="firstPhoto" src="../pages/assets/unsplash_5UHFPbvBBzY.png">
        </div>
        <div class="missionKid2">
             <h1>Nossa missão</h1>
             <p>Somos uma comunidade de suporte e potencialização da mulher na tecnologia, com intuito de gerar crescimento mútuo a partir de trocas e colaborações em um espaço de oportunidades e empoderamento. Mulheres conectadas mudam o mundo.</p>
            <p>
             Oferecemos às meninas e mulheres a confiança, ferramentas, conhecimento e apoio para que rompam barreiras de gênero e cresçam nas suas carreiras para entrar e florescer no mundo da codificação!
             </p>
        </div>
    </div>
    <div class="values">
        <div class="valuesKid">
            <h1 class="titlesValues">Nossos Pilares</h2>
            <h2 class="titlesValues"> > Inspirar</h2>
            <p class="valuesHover"> 
                A parceria, o sonho e o futuro tecnológico feminino.
                
            </p>
            <h2 class="titlesValues"> > Conectar</h2>
            <p class="valuesHover">
                Possibilitando a troca de conhecimentos e experiências entre as mulheres, para que juntas cheguemos mais longe.
            </p>
            <h2 class="titlesValues"> > Incentivar</h2>
            <p class="valuesHover">
                O crescimento contínuo de aprendizado entre as mulheres dentro da tecnologia.
            </p>
        </div>
        <div class="valuesKid2">
            <img class="SecPhoto" src="../pages/assets/unsplash_P2SkP_PXhlU.png">
       </div>

    </div>
    <div class="rules">
        <h1 class="rulesTitle">Nossas Regras</h1>
        <div class="rules1">
            <div class="rules-item1">
                <img class="star" src="../pages/assets/bxs_star.png">
                <h2 class="titleRules">Seja simpática e gentil</h2>
                <p>
                    Precisamos nos unir para criar um ambiente acolhedor. Vamos tratar todos com respeito. Discussões saudáveis são naturais, mas seja gentil e educado(a).
                </p>
            </div>
            <div class="rules-item2">
                <img class="star1" src="../pages/assets/bxs_star.png">
                <h2 class="titleRules">Respeite a privacidade de todas</h2>
                <p>
                    A participação na comunidade requer confiança mútua. É ótimo ter discussões autênticas e expressivas no grupo, mas elas podem ser sensíveis e privadas. O que é compartilhado na Comunidade deve permanecer nele
                </p>
            </div>

        </div>
        <div class="rules2">
            <div class="rules-item3">
                <img class="star" src="../pages/assets/bxs_star.png">
                <h1 class="titleRules">Não fazer spam</h1>
                <p>
                    Proporcione às outras pessoas deste grupo mais do que você obtém dele. Autopromoção, spam e links irrelevantes não são permitidos.
                </p>
            </div>
            <div class="rules-item4">
                <img class="star1" src="../pages/assets/bxs_star.png">
                <h2 class="titleRules">Não é permitido discurso de ódio</h2>
                <p>
                    Todos devem se sentir seguros. O bullying de qualquer tipo não é permitido e comentários degradantes sobre raça, religião, cultura, orientação sexual, gênero ou identidade não serão tolerados.
                </p>
            </div>

        </div>
        <h1 class="finalTextRules">Queremos criar um ambiente acolhedor,
            <br>
            então qualquer problema que você tiver,<br>
            entre em contato conosco.<br>
        </h1>
        <button class="talkToUs">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Fale com a gente
        </button>
        <br>
        <br>
    </div>
    <div class="indication">
        <p class="indicationText">
            + de 1000 meninas que fazem parte da 
            <br>
            nossa comunidade, apoiam e indicam.
        </p>
    </div>
    <h1 class="titleAvaliation">
        Veja o que elas tem a dizer:
    </h1>
    <div class="avaliation">
        <div class="avaliationCard">
            <img class= "avaliationPhoto" src="../pages/assets/_113222121_jumrheaayunan.png">
            <h1 class="avaliationName"> 
                @mariana_lima

            </h1>
            <h3 class="description">
                "É muito importante para o aprendizado ter um espaço de apoio em que possamos nos ajudar e inspirar, e desde que entrei para a comunidade, me sinto mais confiante pra tudo! Aqui é um mar de oportunidades."
            </h3>
        </div>
        <div class="avaliationCard">
            <img class= "avaliationPhoto" src="../pages/assets/depositphotos_115241714-stock-photo-young-woman-working-on-computer.png">
            <h1 class="avaliationName"> 
                @luisa.fernandes

            </h1>
            <h3 class="description">
                "Hoje a maior parte das minhas amigas conheci na Beta e trabalho em uma empresa que entrou em contato comigo por aqui também, só tenho a agradecer!"
            </h3>
        </div>
        <div class="avaliationCard">
            <img class= "avaliationPhoto" src="../pages/assets/images.png">
            <h1 class="avaliationName"> 
                @clarissa-oliv

            </h1>
            <h3 class="description">
                "Com a Beta consigo me conectar com outras garotas que assim como eu estão começando a aprender programação e isso tem me ajudado muito no processo, ter esse lugar de troca e acolhimento."
            </h3>
        </div>
    </div>
   
    
</body>
</html>