
/* Header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
  background-color: #9e829c;
  padding-right: 20px;
}

.header-brand {
  text-decoration: none;
  color: #ffffff;
}

.button-container {
  display: flex;
  gap: 15px;
}

.btn-primary {
  width: 10em;
  background-color: #291528;
  border: none;
  transition: all .3s ease-in-out;
}

.btn-primary a {
  color: white;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #F0EFF4;
}

.btn-primary a:hover {
  color: #000000;
}

/* Nav */
.nav-bg {
  background-color: #291528;
  padding: 5px
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #9E829C;
}

.nav-link:focus {
  color: #9E829C;
}

.navbar-toggler {
  background-color: #9E829C;
}

@media(max-width: 810px) {
  .btn-primary {
    width: 10rem;
    font-size: 14px;
  }
}

@media(max-width: 768px) {
  .btn-primary {
    width: 8rem;
    background-color: #291528;
    border: none;
    transition: all .3s ease-in-out;
    font-size: 12px;
  }
}

@media(max-width: 595px) {
  .btn-primary {
    width: 8rem;
    background-color: #291528;
    border: none;
    transition: all .3s ease-in-out;
    font-size: 10px;
  }
}
@media(max-width: 430px) {
  .button-container {
    display: flex;
    height: 70px;
    flex-direction: column;
  }
  .btn-primary {
    width: 10em;
    height: 40px;
    font-size: 10px;
  }

}
